# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
data=pd.read_csv("../WeatherPy/output_data/cities.csv")
data.head()

,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed
0,Cockburn Town,TC,21.4612,-71.1419,1616258597,0,77,77.05,15.99
1,Khatanga,RU,71.9667,102.5000,1616258871,53,97,-36.58,9.82
2,Ipixuna,BR,-1.7625,-48.8043,1616258952,40,58,86.00,4.61
3,East London,ZA,-33.0153,27.9116,1616258581,0,83,71.60,12.66
4,Saskylakh,RU,71.9167,114.0833,1616258632,100,99,-30.15,9.06

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
data=data.dropna()
humidity=data['Humidity'].astype(float)
locs=data[["Lat","Lng"]].astype(float)
fig=gmaps.figure()

In [4]:
heat_map=gmaps.heatmap_layer(locs, weights=humidity, dissipating=False, max_intensity=max(data['Humidity']), point_radius=2)
fig.add_layer(heat_map)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
# filter cities with warmer temperartures
warm_cities=data.loc[data['Max Temp']>75]
#filter cities with low wind
warm_cities=warm_cities.loc[warm_cities['Wind Speed']<5]
# need nice sunny weather
warm_cities=warm_cities.loc[warm_cities['Cloudiness']<2]
warm_cities

,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed
94,Cabo San Lucas,MX,22.8909,-109.9124,1616258470,1,25,79.00,4.54
131,Salalah,OM,17.0151,54.0924,1616259120,0,69,80.60,4.61
253,R캐j캐khera,IN,26.8961,78.1714,1616259285,0,16,79.38,4.09
261,Makkah al Mukarramah,SA,21.4267,39.8261,1616259296,0,30,84.54,4.70
305,Acapulco de Ju치rez,MX,16.8634,-99.8901,1616259356,1,51,84.20,4.61
336,K캐nker,IN,20.2719,81.4931,1616259398,0,42,76.24,3.76
368,Ixtapa,MX,20.7000,-105.2000,1616259367,1,46,75.20,4.61
430,Sakakah,SA,29.9697,40.2064,1616259529,0,13,78.80,3.44
550,Fort Abbas,PK,29.1925,72.8536,1616259696,0,21,79.25,3.18

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
hotel_df=warm_cities

In [28]:
hotel_df['Hotel Name']=""
hotel_df.reset_index(inplace=True, drop=True)
hotel_df

,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed,Hotel Name
0,Cabo San Lucas,MX,22.8909,-109.9124,1616258470,1,25,79.00,4.54,
1,Salalah,OM,17.0151,54.0924,1616259120,0,69,80.60,4.61,
2,R캐j캐khera,IN,26.8961,78.1714,1616259285,0,16,79.38,4.09,
3,Makkah al Mukarramah,SA,21.4267,39.8261,1616259296,0,30,84.54,4.70,
4,Acapulco de Ju치rez,MX,16.8634,-99.8901,1616259356,1,51,84.20,4.61,
5,K캐nker,IN,20.2719,81.4931,1616259398,0,42,76.24,3.76,
6,Ixtapa,MX,20.7000,-105.2000,1616259367,1,46,75.20,4.61,
7,Sakakah,SA,29.9697,40.2064,1616259529,0,13,78.80,3.44,
8,Fort Abbas,PK,29.1925,72.8536,1616259696,0,21,79.25,3.18,

In [37]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
   

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    # print(json.dumps(response, indent=4, sort_keys=True))
    
    # extract results
    hotels = response['results']
    
    try:
        print(f"Closest hotel is {hotels[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = hotels[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: Cabo San Lucas.
Closest hotel is Hotel Tesoro Los Cabos.
------------
Retrieving Results for Index 1: Salalah.
Closest hotel is HAMDAN PLAZA HOTEL SALALAH.
------------
Retrieving Results for Index 2: R캐j캐khera.
Closest hotel is Shiv hair man's parlour.
------------
Retrieving Results for Index 3: Makkah al Mukarramah.
Closest hotel is Makkah Clock Royal Tower, A Fairmont Hotel.
------------
Retrieving Results for Index 4: Acapulco de Ju치rez.
Closest hotel is HS Hotsson Smart Acapulco.
------------
Retrieving Results for Index 5: K캐nker.
Closest hotel is STARiHOTEL Kanker.
------------
Retrieving Results for Index 6: Ixtapa.
Closest hotel is Hotel Plaza Providencia.
------------
Retrieving Results for Index 7: Sakakah.
Closest hotel is Fakhamat Al Orjoana Apartment.
------------
Retrieving Results for Index 8: Fort Abbas.
Closest hotel is AsAd's House.
------------

In [38]:
hotel_df

,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed,Hotel Name
0,Cabo San Lucas,MX,22.8909,-109.9124,1616258470,1,25,79.00,4.54,Hotel Tesoro Los Cabos
1,Salalah,OM,17.0151,54.0924,1616259120,0,69,80.60,4.61,HAMDAN PLAZA HOTEL SALALAH
2,R캐j캐khera,IN,26.8961,78.1714,1616259285,0,16,79.38,4.09,Shiv hair man's parlour
3,Makkah al Mukarramah,SA,21.4267,39.8261,1616259296,0,30,84.54,4.70,"Makkah Clock Royal Tower, A Fairmont Hotel"
4,Acapulco de Ju치rez,MX,16.8634,-99.8901,1616259356,1,51,84.20,4.61,HS Hotsson Smart Acapulco
5,K캐nker,IN,20.2719,81.4931,1616259398,0,42,76.24,3.76,STARiHOTEL Kanker
6,Ixtapa,MX,20.7000,-105.2000,1616259367,1,46,75.20,4.61,Hotel Plaza Providencia
7,Sakakah,SA,29.9697,40.2064,1616259529,0,13,78.80,3.44,Fakhamat Al Orjoana Apartment
8,Fort Abbas,PK,29.1925,72.8536,1616259696,0,21,79.25,3.18,AsAd's House

In [40]:
# NOTE: Do not change any of the code in this cell
locations = hotel_df[["Lat", "Lng"]]
markers = gmaps.marker_layer(locations)

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [45]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.marker_layer(
    locations,
    info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig.add_layer(hotel_layer)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))